{% load static %}
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'home/css/custom_css.css' %}">
	<script src="{% static 'home/js/jquery.min.js' %}"></script>
	<script src="{% static 'home/js/bootstrap.min.js' %}"></script>
	<link href="https://fonts.googleapis.com/css?family=Coiny|Satisfy|Montserrat|Open+Sans|Josefin+Slab|Dancing+Script" rel="stylesheet">
	<style>
	.container-fluid{
		padding-left: 0;
		padding-right: 0;
	}
	html, body{
		height: 100%;
	}
	</style>
</head>
<body bgcolor="ivory">
	<div class="container-fluid" style="width: 100%;">
		<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav flex-fill justify-content-center text-uppercase">
					<a class="nav-item nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
					<a class="nav-item nav-link" href="{% url 'weoffer' %}">WE OFFER..</a>
					<a class="nav-item nav-link" href="{% url 'gallery' %}">GALLERY</a>
					<a class="nav-item nav-link" href="{% url 'contactus' %}">CONTACT US</a>
				</div>
			</div>
		</nav>
	</div>
	{% block content %}
		<!-- will be extended by individual page for menus Home, We Offer, Gallary and Contact Us.-->
	{% endblock %}
</body>
</html>