{% extends 'home/header.html' %}
{% block content %}
<div class="container" style="margin-top: 100px;">
	<div class="row">
		<div class="col-md-4">
			<div class="thumbnail">
				<a href="https://www.w3schools.com/w3images/lights.jpg" target="_blank">
					<img src="http://192.168.56.101:8000/media/home_images/the_dark_knight_rises-wallpaper-1366x768.jpg" alt="Lights">
					<div class="caption">
						<p>PREWEDDINGS</p>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<a href="https://www.w3schools.com/w3images/lights.jpg" target="_blank">
					<img src="http://192.168.56.101:8000/media/home_images/onslaught_wide.jpg" alt="Lights">
					<div class="caption">
						<p>WEDDINGS</p>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<a href="https://www.w3schools.com/w3images/lights.jpg" target="_blank">
					<img src="http://192.168.56.101:8000/media/home_images/CooL_GuY_a2zRG_99.jpg" alt="Lights">
					<div class="caption">
						<p>BABY SHOOT</p>
					</div>
				</a>
			</div>
		</div>
	</div>
	{% endblock %}