{% extends 'home/header.html' %}
{% block content %}
<div class="container" style="margin-top: 100px;">
	<div class="row">
		<div class="col-md-4">
			<div class="thumbnail">
				<a href="https://www.w3schools.com/w3images/lights.jpg" target="_blank">
					<img src="/media/home_images/CooL_GuY_a2zRG_95.jpg" alt="Lights">
					<div class="caption">
						<p>TITLE1</p>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<a href="https://www.w3schools.com/w3images/lights.jpg" target="_blank">
					<img src="https://www.w3schools.com/bootstrap/paris.jpg" alt="Lights">
					<div class="caption">
						<p>TITLE2</p>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<a href="https://www.w3schools.com/w3images/lights.jpg" target="_blank">
					<img src="https://www.w3schools.com/bootstrap/paris.jpg" alt="Lights">
					<div class="caption">
						<p>TITLE3</p>
					</div>
				</a>
			</div>
		</div>
	</div>
	{% endblock %}