* {
	font-family: futura-pt, sans-serif;
	font-style: normal;
	font-weight: 300;
}

.navbar-custom{
	position:fixed; 
	z-index:10; 
	width:100%; 
	background-color: 
	transparent;
	color:#FFFFFF;
	//border-color:transparent; 
	font-family: futura-pt; 
	font-transform: uppercase;
	font-size: 15px;
	justify-content: center;
	display: flex;
}

.navbar-nav{
}

.navbar-nav > li{
	text-shadow: 2px 1px 1px #000;
}

.nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
}

.thumbnail {
	padding: 0;
	border: none;
	overflow: auto;
}

.caption{
	text-align: center;
}

.thumbnail a > img {
  height:250px;
  width:100%;
}