{% extends 'weoffer/header.html' %}
{% block content %}
<div class="container" style="margin-top: 100px;">
	<div class="row" style="display: flex;">
		{% for event in event.images.all %}
			<div class="col-md-4">
				<div class="thumbnail">
					<a href="{{ event.image.url }}" target="_blank">
						<img src="{{ event.image.url }}" alt="Lights">
						<div class="caption">
							<p class="text-uppercase">{{ event.name }}</p>
						</div>
					</a>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}