{% load static %}
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'weoffer/css/custom_css.css' v=1%}">
	<link rel="stylesheet" href="{% static 'gallery/css/custom_css.css' %}">
	<link rel="stylesheet" href="{% static 'contactus/css/custom_css.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<script src="{% static 'home/js/jquery.min.js' %}"></script>
	<script src="{% static 'home/js/bootstrap.min.js' %}"></script>
	<link href="https://fonts.googleapis.com/css?family=Pacifico|Sacramento|Niconne|Montez|Dynalight|Cookie|Molle:400i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Coiny|Satisfy|Montserrat|Open+Sans|Josefin+Slab|Dancing+Script" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style type="text/css">
	.container-fluid{
		padding-left: 0;
		padding-right: 0;
	}
	html, body{
		height: 100%;
	}
	</style>
</head>
<body bgcolor="ivory">
	<div class="container-fluid" style="width: 100%;">
		<nav class="navbar navbar-expand-lg navbar-dark navbar-custom-weoffer">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-weoffer" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbar-weoffer">
				<div class="navbar-nav flex-fill justify-content-center text-uppercase" style="font-family: 'Montserrat', cursive;">
					<a class="nav-item nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
					<a class="nav-item nav-link" href="{% url 'weoffer' %}">WE OFFER..</a>
					<a class="nav-item nav-link" href="{% url 'gallery' %}">GALLERY</a>
					<a class="nav-item nav-link" href="{% url 'contactus' %}">CONTACT US</a>
				</div>
			</div>
		</nav>
		</div>
		{% block content %}

		{% endblock %}
	</body>
	</html>