{% extends 'weoffer/header.html' %}
{% block content %}
<div class="wedding" style="width: 980px; height: 620; margin-bottom: 20px;">
	<div class="wedding-desc">
		<p>{{ featured.description }}</p>
	</div>
	<div class="wedding-img-container">
		<div id="storiesCarouselFade" class="carousel slide carousel-fade" data-interval="6000" data-pause="false" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators" id="story-carousel-indicator">
				{% for image in featured.images.all %}
				<li data-target="#storiesCarouselFade" data-slide-to="{{ forloop.counter0 }}" 
				class="{% if forloop.first %} active {% endif %}" style=""> 
					<img class="d-block w-100" src="{{image.image.url}}" alt="First slide" style="height: 100%; width: 100%;">
				</li>
				{% endfor %}
			</ol>
			<div class="carousel-inner">
				{% for image in featured.images.all %}
				<div class="carousel-item{% if forloop.first %} active{% endif %}">
					<img class="d-block w-100" src="{{image.image.url}}" alt="First slide" style="height: 100%; width: 100%;">
				</div>
				{% endfor %}
			</div>
			<a class="carousel-control-prev" href="#storiesCarouselFade" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#storiesCarouselFade" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
</div>


<!-- <div class="wedding" style="width: 1080px; height: 720; margin-bottom: 20px;">
	<div class="wedding-desc">
		<p>{{ featured.description }}</p>
	</div>
	<div class="wedding-img-container">
		<div id="myCarousel2" class="carousel slide" data-ride="carousel" data-interval="4000" data-pause="false">
			<div id="carouselIndicatorsStory" class="carousel slide" data-ride="carousel"> -->
				<!-- Indicators -->
				<!-- <ol class="carousel-indicators">
					{% for image in featured.images.all %}
					<li data-target="#carouselIndicatorsStory" data-slide-to="{{ forloop.counter0 }}" 
					class="{% if forloop.first %} active {% endif %}"></li>
					{% endfor %}
				</ol> -->
				<!-- Slides -->
				<!-- <div class="carousel-inner">
					{% for image in featured.images.all %}
					<div class="carousel-item{% if forloop.first %} active{% endif %}">
						<img class="d-block w-100" src="{{ image.image.url }}" style="height: 100%; width: 100%;">
					</div>
					{% endfor %}
				</div> -->
				<!-- Controls -->
				<!-- <a class="carousel-control-prev" href="#carouselIndicatorsStory" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselIndicatorsStory" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
		</div>
	</div> -->
	<div style="height:500px; width:500px"></div>
	{% endblock %}