{% extends 'weoffer/header.html' %}
{% block content %}
<div class="container" style="padding-top: 100px;">
	{% for eventRow in eventRows %}
	<div class="row" style="display: flex;">
		{% for event in eventRow %}
		<div class="col-md-4">
			<div class="thumbnail">
				<a href="{% url 'event_detail' eventId=event.id %}">
					<img src="{{ event.thumbnail.url }}" alt="Lights">
					<div class="caption">
						<p class="text-uppercase">{{ event.name }}</p>
					</div>
				</a>
			</div>
		</div>
		{% endfor %}
	</div>
	{% endfor %}
</div>
{% endblock %}