{% extends 'weoffer/header.html' %}
{% block content %}
<ul class="weoffer-slider">
	<li>
		<div class="content">
			<h1>PREWEDDING</h1>
			<h2>PREWEDDING</h2>
		</div>
	</li>
	<li>
		<div class="content">
			<h1>ENGAGEMENT</h1>
			<h2>ENGAGEMENT</h2>
		</div>
	</li>
	<li>
		<div class="content">
			<h1>WEDDING</h1>
			<h2>WEDDING</h2>
		</div>
	</li>
	<li>
		<div class="content">
			<h1>BABYSHOOT</h1>
			<h2>BABYSHOOT</h2>
		</div>
	</li>
	<li>
		<div class="content">
			<h1>PORTFOLIO</h1>
			<h2>PORTFOLIO</h2>
		</div>
	</li>
</ul>
{% endblock %}