
{% extends 'weoffer/header.html' %}


{% block content %}
	<div class="mx-auto" style="margin-top: 50px;width:370px; height: 100px;">
		<img src="/media/logo-black.png" style="height: 100%; width: 100%;"/>
	</div>
	<div class="mx-auto contact-info" style="width: fit-content;font-size: 12px;">
		<div class="row text-center">
			Mobile: +91 8097272579 / +91 8806772086
		</div>
		<div class="row text-center" style="margin-top: 15px;">
			Email: harshaddalviphotography@gmail.com
		</div>
	</div>
{% endblock %}