
{% extends 'weoffer/header.html' %}


{% block content %}
<div class="mx-auto" style="margin-top: 50px;width:350px; height: 100px;">
	<img src="/media/logo-black.png" style="height: 100%; width: 100%;"/>
</div>
<div class="mx-auto contact-info" style="width: 350px;">
	<div class="row text-center mx-auto" style="width: fit-content;">
		Mobile: +91 8097272579 / +91 8806772086
	</div>
	<div class="row text-center mx-auto" style="width: fit-content;">
		Email: harshaddalviphotography@gmail.com
	</div>
	<form action="{% url 'contactus' %}" method="post">
		{% csrf_token %}
		{% if saved %}
		<div class="alert alert-success" role="alert">
		  	Query submitted successfully! <br> We will contact you soon. Thanks!
		</div>
		{% endif %}
		<div class="row text-center mx-auto">
			{{ form.name.label }}&nbsp;* {% for error in form.name.errors %} &nbsp;&nbsp;<span class="text-danger"> {{ error }} </span> {% endfor %} <br>
			{{ form.name }}
		</div>
		<div class="row text-center mx-auto">
			{{ form.contactNo.label }}&nbsp;* {% for error in form.contactNo.errors %} &nbsp;&nbsp;<span class="text-danger"> {{ error }} </span> {% endfor %} <br>
			{{ form.contactNo }}
		</div>
		<div class="row text-center mx-auto">
			{{ form.emailId.label }} {% for error in form.emailId.errors %} &nbsp;&nbsp;<span class="text-danger"> {{ error }} </span> {% endfor %} <br>
			{{ form.emailId}}
		</div>
		<div class="row text-center mx-auto">
			{{ form.query.label }}&nbsp;*<br>
			{{ form.query }}
		</div>
		<div class="row text-center mx-auto">
			<input type="submit" class="btn-submit" style="width: 30%; margin: 0 auto;">
		</div>
	</form>
</div>
{% endblock %}